body {
    display: flex; justify-content: center;
    align-items: center; height: 100vh;
    /* background: #020e1a; */
    background-color: #44087dd9;
  }
  .calculator {
    background: #040911; padding: 20px;
    border-radius: 10px; box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  #display {
    width: 100%; height: 40px; font-size: 24px;
    text-align: right; margin-bottom: 10px;
    background-color: transparent;
    color: white;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 5px;
  }
  button {
    height: 60px; font-size: 18px; cursor: pointer;
  }
  .c{
    color:#ff6c00;
    
    /* background-color:rgb(241, 160, 131) ; */
    background-color: transparent;
  }
  .o{
    color:#ff6c00;
    /* color: rgb(236, 22, 22); */
    /* background-color: rgb(161, 158, 161); */
    background-color: transparent;
  }
  .num{
    color: white;
    /* background-color: rgb(160, 182, 201); */
    background-color: transparent;
  }
  .equal{
    color:#ff6c00;
    /* color:rgb(236, 22, 22); */
    /* background-color: #a5afb9; */
    background-color: transparent;
  }